body {
  margin: 0;
}
/*First part of the website*/
h2 {
  font-weight: lighter;
}

h1 {
  font-weight: lighter;
}

p{
  font-family: sans-serif;
  line-height: 1.5;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 7fr;
  grid-auto-columns: 1fr;
  background-color: rgba(60, 60, 60, 0.6);
  z-index: -1;
}

.grid-container img {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 4 / 2;
  object-fit: cover;
  z-index: -2;
}

.grid-infobar {
  grid-area: 1 / 1 / 2 / 2;
  color: white;
  padding: 30px 50px 30px 50px;
  font-size: 11px;
  word-spacing: 1em;
  font-family: sans-serif;
  align-self: center;
}

.icons {
  float: right;
  font-size: 16px;
}

.grid-navbar {
  grid-area: 2 / 1 / 3 / 2;
  color: white;
  background-color: rgba(5, 5, 5, 0.6);
  align-self: center;
}
.grid-navbar ul {
  text-align: right;
  padding: 15px 50px 15px 0px;
  word-spacing: 1em;
  font-family: sans-serif;
  font-size: 14px;
}
.grid-navbar ul li {
  list-style-type: none;
  display: inline;
}

.frontpage {
  grid-area: 3 / 1 / 4 / 2;
  color: white;
  padding-left: 60px;
  align-self: center;
}

.frontpage h1 {
  font-size: 45px;
  padding-bottom: 20px
}

.frontpage p {
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 40px;
  line-height: 90%;
}

.frontpage button {
  color: white;
  font-family: sans-serif;
  background-color: rgb(64,224,208);
  padding: 15px 10px;
  border: none;
}
/*Second part of the website: infocards*/
.infocards {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  background-color: white;
  align-self: center;
  padding: 80px 100px;
}

.infocards img {
  min-height: 200px;
  max-height: 250px;
  height: 60%;
  width: 100%;
  /*object-fit: cover;*/
}

.infocards h2 {
  padding-top: 15px;
}

.infocards p {
  color: rgb(100, 100, 100);
}

.infocards button {
  color: rgb(64,224,208);
  background-color: white;
  border: none;
  font-family: sans-serif;
  font-size: 15px;
}

.card1 {
  grid-area: 1 / 1 / 2 / 2;
  padding-right: 10px;
}

.card2 {
  grid-area: 1 / 2 / 2 / 3;
  padding-right: 10px;
  padding-left: 10px;
}

.card3 {
  grid-area: 1 / 3 / 2 / 4;
  padding-left: 10px;
}
/* Infopage which consist of 8 elements on the grid */
.infopage {
  display: grid;
  grid-auto-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  color: white;
}

.infopage img {
  width: 100%;
  grid-area: 1 / 1 / 5 / 4;
  object-fit: cover;
  z-index: -2;
}

.infopage p {
  padding-left: 30px;
}

.infopage button {
  color: white;
  background-color: Transparent;
  border: none;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 30px;
}

.title {
  grid-area: 1 / 1 / 2 / 4;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-weight: lighter;
}

.part1 {
  grid-area: 2 / 1 / 3 / 2;
  padding-left: 60px;
  padding-right: 10px;
}

.part2 {
  grid-area: 2 / 2 / 3 / 3;
  padding-left: 10px;
  padding-right: 10px;
}

.part3 {
  grid-area: 2 / 3 / 3 / 4;
  padding-right: 60px;
  padding-left: 10px;
}

.part4 {
  grid-area: 3 / 1 / 4 / 2;
  padding-left: 60px;
  padding-right: 10px;
}

.part5 {
  grid-area: 3 / 2 / 4 / 3;
  padding-left: 10px;
  padding-right: 10px;
}

.part6 {
  grid-area: 3 / 3 / 4 / 4;
  padding-right: 60px;
  padding-left: 10px;
}

.mainbutton {
  grid-area: 4 / 2 / 5 / 3;
  justify-self: center;
}

.mainbutton button {
  color: white;
  font-family: sans-serif;
  background-color: rgb(64,224,208);
  border: none;
  padding: 15px 10px;
}

.fourth_part {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 100px;
  padding-right: 100px;
  color: rgb(100, 100, 100);
}

h4 {
  color: rgb(64,224,208);
  font-weight: lighter;
}

.fourth_part p {
  padding-right: 30px;
}

.title {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fourth_part img {
  height: 50%;
  width: 90%;
  min-height: 200px;
  object-fit: cover;
}

.fourth_part button {
  background-color: Transparent;
  color: rgb(64,224,208);
  border: none;
}
.button {
  grid-area: 4 / 2 / 5 / 3;
  justify-self: center;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.button button {
  background-color: rgb(64,224,208);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  padding: 12px 10px;
}

.subscribed {
  display: flex;
  color: rgb(220, 220, 220);
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("building.jpg");
  background-size: cover;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribed input[type=text] {
    background-color: Transparent;
    padding: 6px 500px 6px 20px;
    font-size: 17px;
    border-width: thin;
    border-style: ridge;
    border-color: rgb(70,70,70);
}

.subscribed h2 {
margin-bottom: 5px;
color: white;
}

.subscribed p {
  color: white;
  margin-top: 0;
  padding-bottom: 30px;
}
.subscribed button {
  background-color: rgb(64,224,208);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 15px;
  padding: 9px 15px;
  margin-top: 20px;
  letter-spacing: 0.05em;
}
/*Footer*/
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background-color: rgb(245,252,252);
  padding: 50px 100px;
  grid-column-gap: 40px;
}

.container h3 {
font-weight: lighter;
padding-bottom: 30px;
}

.container p {
font-size: 14px;
color: rgb(100, 100, 100);
letter-spacing: 0.05em;
word-spacing: 0.12em;
}

.container a {
  color: rgb(64,224,208);
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.contact p {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(120,120,120,0.6);
  word-spacing: 5px;
}

.help_links p {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(120,120,120,0.6);
}
.help_links a {
 text-decoration: none;
}

footer button {
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: #222;
  color: white;
}

footer ul {
  list-style: none;
  display: flex;
}

footer li {
  margin-right: 10px;
}

#google:hover {
  background-color: #ff5e53;
}
#twitter:hover {
  background-color: #b3d4fc;
}
#facebook:hover {
  background-color: #3b5998;
}
#linkedin:hover {
  background-color: #0077B5;
}

.copyrights {
  color: rgb(100, 100, 100);
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbutton a {
  position: fixed;
  justify-content: flex-end;
  background-color: rgb(64,224,208);
  color: white;
  border: none;
  bottom: 0;
  right: 20px;
  padding: 10px;
}
